:host {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tree {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.category {
    padding: 0 .5rem;
    border-radius: .3rem;
    cursor: pointer;
}

.category.active {
    background-color: rgba(0,0,0,.075);
}

.icon {
    margin-right: 8px;
    font-size: 16px;
}
